<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Boolflix</title>
  </head>
  <body>
    <!-- contenitore totale -->
    <div id="app">

      <header>
        <!-- sezione logo -->
        <div class="left-header fl">
          <h1>BOOLFLIX</h1>
        </div>
        <!-- sezione input e button -->
        <div class="right-header fl">
          <input class="search-input" type="text" name="" value=""
          placeholder="Cerca il tuo film..." v-model="searchText" @keyup.enter="search">
          <button class="search-button" type="button" name="button" @click="search">Cerca</button>
        </div>
      </header>

      <!-- sezione risultati -->
      <div class="container" id="result-container">
        <!-- sezione carimento -->
        <h2 v-if="loading">Ricerca in corso...</h2>
        <h2 v-else-if="titleText && results.length">Risultati per: "{{titleText}}"</h2>
        <h2 v-else-if="titleText">Nessun risultato trovato per "{{titleText}}"</h2>

        <!-- sezione carte film stampate a schermo -->
        <ul class="cards fl" v-for="result in results">
          <li>Titolo: {{result.title}}</li>
          <li>Titolo Originale: {{result.original_title}}</li>
          <li>Lingua: {{result.original_language}}</li>
          <li>Voto: {{result.vote_average}}</li>
        </ul>
      </div>
      <!-- fine sezione risultati -->
    </div>
    <!-- fine contenitore totale -->

    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
